* {
    background-color: rgb(84, 13, 150);
}

.div1 {
    text-align: center;
    width: 640px;
    padding-left: 400px;
    
}

.h1box {
    
    color: rgb(7, 7, 7);
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    background-color: rgb(250, 250, 250);
    margin: -5px;
    
    
}

.pbox {
    background-color: black;
    color: rgb(208, 32, 32);
    margin: -1px;
    
    
    
    
}

img {
    border:20px solid black;
}

/*h1 {
    text-transform: uppercase;
    font-size: 3rem;
  }
  
  .div1 {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
  }
  
 img {
    border: 5px solid white;
    width: 100%;
  }*/
  